<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        This template creates a project with all test classes from the jme3 source to get examples for jme3 features.<br>
        Feel free to modify the code samples and experiment! If you break something, you can always recreate the packaged samples from this template.
    </body>
</html>
