<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.7.4</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>JavaAppLauncher</string>
  <key>CFBundleIconFile</key>
  <string>GenericApp.icns</string>
  <key>CFBundleIdentifier</key>
  <string>${main.class}</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>${application.title}</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html
       for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>Unknown</string>
  <key>CFBundleVersion</key>
  <string>100</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2015</string>
  <!--jvmruntime-->
  <key>JVMMainClassName</key>
  <string>${main.class}</string>
  <key>JVMAppClasspath</key>
  <string></string>
  <key>JVMMainJarName</key>
  <string>${jar.name}</string>
  <key>JVMPreferencesID</key>
  <string>${application.title}</string>
  <key>JVMOptions</key>
  <array>
      <string>${run.jvmargs}</string>
  </array>
  <key>JVMUserOptions</key>
    <dict>

    </dict>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
 </dict>
</plist>